header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

header nav {
    flex: 2;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    line-height: 1.3;
}

.introduction {
    flex: 1;
    margin-top: 10px;
}

.intro-text button {
    margin-right: 20px;
    padding: 4px;
    height: 35px;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #09347B;
    color: white;
    text-transform: uppercase;
}

.intro-text h1 {
    font-size: 30px;
    font-weight: 300;
    background: linear-gradient(to right, #494964, #6f6f89);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cover {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 50vh;
}

.cover img {
    height: 60%;
}

.add-bookmark {
    width: 100%;
    height: 3vh;
    bottom: 0;
    position: absolute;
    background-color: lightgreen;
    text-align: center;
    color: blue;
}

.remove-bookmark {
    width: 100%;
    height: 3vh;
    bottom: 0;
    position: absolute;
    background-color: red;
    text-align: center;
    color: white;
    visibility: hidden;
}

.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}

.medium-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}

.small-circle {
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }

    .introduction {
        margin-top: 5vh;
        text-align: center;
    }

    .intro-text h1 {
        font-size: 30px;
    }

    .intro-text p {
        font-size: 18px;
    }

    .cover img {
        height: 50%;
    }

}