* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #09347B;
    z-index: 9;
}

nav {
    height: auto;
    width: 100%;
    /* padding: 10px 10vw; */
    display: flex;
    justify-content: center;
}

.navbar .brand-logo {
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 30px;
    cursor: pointer;
}

.search {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 3px solid white;
    position: relative;
}

.search ::placeholder {
    color: transparent;
}

.search button {
    background: transparent;
    border: none;
    outline: none;
    margin-right: 10vw;
    margin-left: -25px;
    position: relative;
    width: auto;
    height: 40px;
    object-fit: fill;
    cursor: pointer;
}

input[type=text] {
    width: 40px;
    height: 40px;
    color: inherit;
    cursor: pointer;
    border-radius: 0 3px 0 3px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    border-bottom: 3px solid white;
    -webkit-transition: width 0.4s ease-out;
    transition: width 0.4s ease-in-out;
}

/* input[type=text] ::placeholder {
    color: transparent;
} */

input[type=text]:focus {
    width: 200px;
    height: 40px;
    background: white;
    opacity: 0.4;
    color: inherit;
    border: none;
    border-radius: 0;
    border: none;
    outline: none;
    border-bottom: 3px solid white;
    padding-left: 2px;
    font-size: 15px;
}